.folder-tree {
  height: calc(100% - 160px);
  max-height: calc(100% - 160px);
}

.folder-heading {
  padding: 8px 0;
  cursor: pointer;
  color: var(--muted-color);
  padding: var(--small-padding);
  text-transform: uppercase;
}

.folder-tree>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.folder-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: var(--muted-color);
  padding: var(--small-padding) var(--padding);
  transition: all 0.5s;
}

.folder-tree li:hover,
.folder-item.droppable {
  background-color: #333;
  color: white;
}

/* .folder-item.droppable {
  background-color: #333;
  color: var(--selected-color);
} */

.folder-item.selected {
  color: white;
}