.library-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.library-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--small-padding);
  /* overflow-y: scroll; */
  color: white;
}

.collections {
  flex-grow: 1;
}

.library-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--small-padding);
  border-top: 1px solid var(--media-bgcolor);
}

.collection-tree>ul {
  list-style: none;
  padding: 0;
}

.collection-item {
  display: flex;
  padding: 8px;
  cursor: pointer;
  color: var(--muted-color);
}

.collection-tree li:hover,
.collection-item.droppable {
  background-color: #333;
  color: white;
}
