:root {
  --topbar: #333;
  --topbar-height: 48px;
  --media-bgcolor: #161616;
  --panelwidth: 300px;
  --wide-panelwidth: 500px;
  --small-padding: 8px;
  --muted-color: #a6a6a6;
  --admin-font: 400 14px/1 Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  --selected-color: #e74c3c;
}

.admin-container {
  flex-grow: 1;
  height: 100%;
  display: grid;
  grid-template-columns: var(--panelwidth) 1fr var(--panelwidth);
  grid-template-rows: 1fr;
  grid-gap: 1px;
  margin-top: var(--topmargin);
  font: var(--admin-font);
}
@media only screen and (min-width: 1900px) {
  .admin-container {
    grid-template-columns: var(--panelwidth) 1fr var(--wide-panelwidth);
  }
}

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: var(--small-padding);
  height: var(--topbar-height);
  background-color: var(--topbar);
  color: #ccc;
  background: -moz-linear-gradient(top, #333333 0%, #272727 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #333333 0%,#272727 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333333 0%,#272727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#272727',GradientType=0 ); /* IE6-9 */
}

/* Dark scrollbars: NOT SUPPORTED BY FIREFOX */
::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: #333333;
/* outline: 1px solid slategrey; */
}
