:root {
  --cover-padding: 8px 8px 0 8px;
  --title-padding: 0 16px 8px 16px;
}

.galleries-container {
  margin-top: var(--topmargin);
  height: 100%;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.gallery-cards {
  padding: var(--topmargin) 0;
  max-width: 1564px; /* 376px * 4 + 3 x 20px gap */
  margin: auto;
}
/* @media only screen and (min-width: 770px) {
  .galleries-container {
    grid-template-columns: 60px 1fr 60px;
  }
}
@media only screen and (min-width: 1440px) {
  .galleries-container {
    grid-template-columns: 120px 1fr 120px;
  }
} */

.gallery {
  background-color: white;
  /* box-shadow: 0 2px 5px rgba(39, 39, 39, 0.1); */
  cursor: pointer;
  margin-right: 20px;
}

.gallery-cover {
  width: 100%;
  padding: var(--cover-padding);
}

.gallery-title {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: var(--title-padding);
}
