:root {
  --cover-padding: 8px 8px 0 8px;
  --title-padding: 0 8px 8px 8px;
  --cover-width: 360px;
  --gutter: 20px;
}

.galleries-container {
  margin-top: var(--topmargin);
  height: 100%;
  overflow-y: auto;
  background-color: #f2f2f2;
}

.gallery-cards {
  padding: 0;
  max-width: calc(var(--cover-width) + 16px);
  margin: auto;
}
@media only screen and (min-width: 380px) {
  .gallery-cards {
    padding: var(--topmargin) 0;
  }
}
@media only screen and (min-width: 772px) {
  .gallery-cards {
    padding: var(--topmargin) 0;
    max-width: 772px; /* 376px * 2 + 20px gap */
  }
}
@media only screen and (min-width: 1168px) {
  .gallery-cards {
    max-width: 1168px; /* 376px * 3 + 2 x 20px gap */
  }
}
@media only screen and (min-width: 1564px) { /* 376px * 4 + 3 x 20px gap */
  .gallery-cards {
    max-width: 1564px; /* 376px * 4 + 3 x 20px gap */
  }
}

.gallery {
  background-color: white;
  cursor: pointer;
  margin-bottom: 8px;
}
@media only screen and (min-width: 772px) {
  .gallery {
    margin-bottom: var(--gutter);
  }
}

.gallery-cover {
  width: 100%;
  max-width: var(--cover-width);
  padding: var(--cover-padding);
}

.gallery-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: var(--title-padding);
}

.gallery-views {
  flex-grow: 1;
  text-align: end;
}

.gallery-icon {
  margin-right: 8px;
}
