:root {
  --header-bg: #fbfbfb;
  --dark-header-bg: #1f1f1f;
  --dark-header-color: #f1f1f1;
}

/* Header and main navigation */
.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  color: var(--black);
  z-index: 5;
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  /* backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px); */
  /* box-shadow: 0 2px 5px rgba(39, 39, 39, 0.2); */
  text-transform: uppercase;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  justify-items: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li {
  display: flex;
  width: 100%;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
  font-weight: 700;
}

.nav a.logo-item {
  justify-content: flex-start;
  text-decoration: none;
  color: var(--black);
}

.nav a.menu-item {
  position: relative;
  color: var(--black);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

a.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

a.menu-item:hover:after {
  background: var(--black);
  display: block;
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  /* box-shadow: 0 1px 10px rgba(39, 39, 39, 0.1); */
}

/* Dark theme */
.page-header.dark {
  background-color: var(--dark-header-bg);
  color: var(--dark-header-color);
}

.page-header.dark > .nav a,
.page-header.dark > .nav a.menu-item {
  color: var(--dark-header-color);
}

.page-header.dark > a.menu-item:hover {
  background-color: var(--dark-hover);
}
.page-header.dark > a.menu-item:hover:after {
  background: var(--dark-header-color);
}
/* End Dark theme */

/* footer {
  display: flex;
  flex-direction: row;
  padding: var(--padding);
  background-color: var(--black);
  color: #e2e2e2;
} */