:root {
  --gutter: 2px; /* Same as each image margin */
}

.gallery-container {
  padding-top: calc(var(--topmargin) - 2px);
  height: 100%;
  overflow-y: auto;
  margin: 0 var(--gutter);
}

.gallery-photos {
  padding: var(--topmargin) 0;
  max-width: 1500px;
  margin: auto;
}
