/* .upload-zone {
  width: 100%;
  flex-grow: 1;
} */

.upload-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: var(--small-padding);
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  min-height: 300px;
  font-size: 2em;
  color: var(--muted-color);
  background-color: #262626;
  border-radius: 3px;
  border: 3px dashed #333;
}

.dropzone-text {
  margin: 40px 0;
}

.close {
  position: absolute;
  top: var(--small-padding);
  right: 4px;
  color: var(--muted-color);
  z-index: 9;
  margin: 8px;
  /* border: 2px solid transparent; */
}

.close:hover {
  cursor: pointer;
  /* border: 2px solid var(--selected-color); */
}