.media-section {
  background-color: var(--media-bgcolor);
  /* height: calc(100% - 48px); */
}

.media-container {
  display: grid;
  grid-template-columns: var(--padding) 1fr var(--padding);
  grid-template-rows: 150px;
  height: 100%;
  background-color: var(--media-bgcolor);
  overflow-y: scroll;
}

.media {
  margin: var(--small-padding);
  margin-top: var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: var(--small-padding);
  grid-column-start: 2;
  /* grid-auto-flow: row dense; */
  justify-content: center;
  background-color: var(--media-bgcolor);
}

.thumbnail {
  position: relative;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.thumbnail.preview {
  background-color: #333;
  background: url('/../../assets/images/preview.png') no-repeat;
  background-size: contain;
}

.thumbnail>img {
  position: relative;
  line-height: 150px;
  text-align: center;
  border: 3px solid transparent;
}

.thumbnail>img:hover {
  cursor: pointer;
}

.thumbnail.selected > img {
  border: 3px solid var(--selected-color);
}

/* .ui.label.thumbnail-drag-count {
  top: 0 !important;
} */

.title {
  text-transform: uppercase;
  color: var(--muted-color);
  margin-bottom: var(--padding);
}

.selected-photo {
  border-bottom: 1px solid var(--admin-header-bg);
  padding: 8px;
  background-color: #1c1c1c;
}

.selected-photo>img {
  display: block;
  max-width: 100%;
}

.topbar > .left {
  flex-grow: 1;
}

.topbar > .right {
  width: 308px;
}

.search-input-new {
  width: 300px;
  color: var(--muted) !important;
}

.search-input-new > input {
  background-color: #111 !important;
  color: var(--muted) !important;
}